@use "../abstracts" as *;

.grid-image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: var(--block-size, 22rem);

  @include respond-to("small") {
    --block-size: 30rem;
  }

  &.short {
    @include respond-to("small") {
      --block-size: 22rem;
    }
  }

  &.tall {
    @include respond-to("small") {
      --block-size: 40rem;
    }
  }
}
