.image-grid-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);

  > :first-child {
    flex-basis: 0;
    flex-grow: var(--flex-grow, 999);
    min-inline-size: 50%;
  }

  > :last-child {
    flex-basis: 23rem;
    flex-grow: var(--flex-grow, 1);
  }

  &[data-state="reversed"] {
    > :first-child {
      flex-basis: 23rem;
      flex-grow: var(--flex-grow, 1);
      min-inline-size: unset;
    }

    > :last-child {
      flex-basis: 0;
      flex-grow: var(--flex-grow, 999);
      min-inline-size: 50%;
    }
  }
}
