.accordion-panel {
  position: relative;
  padding-block-end: var(--space-s);
  padding-inline-start: var(--space-3xl);
  border-block-end: 1px solid var(--clr-neutral-dark);
  counter-increment: counter 1;

  &::before {
    content: "0" counter(counter);
    position: absolute;
    inset-inline-start: 0;
    font-size: var(--step-1);
    line-height: 1.1;
  }
}

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;

  &[aria-hidden="false"] {
    grid-template-rows: 1fr;
  }

  .content-wrapper {
    overflow: hidden;
  }
}

// trigger and animations

.accordion .panel-title {
  position: relative;
}

.accordion-trigger::before,
.accordion-trigger::after {
  content: "";
  position: absolute;
  display: block;
  inset-inline-end: 0;
  inline-size: 1.1em;
  block-size: 2px;
  background: currentcolor;
  transition: transform 500ms;
}

.accordion-trigger::before {
  inset-block-start: 0.5em;
}

.accordion-trigger::after {
  rotate: 90deg;
  translate: 0 -0.6em;
}

.accordion-trigger[aria-expanded="true"]::before,
.accordion-trigger[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
