@use "../abstracts" as *;

.button {
  display: inline-flex;
  align-items: center;
  gap: var(--space-s);
  inline-size: fit-content;
  padding-block: var(--space-xs);
  padding-inline: var(--space-m);
  border: 1px solid currentColor;
  border-radius: 999px;
  margin-block-start: var(--space-l);
  background-color: var(--clr-neutral-light);
  transition: color 300ms ease-out, background-color 300ms ease-out;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  color: var(--clr-primary-dark);
  cursor: pointer;
}

.button:where(:hover, :focus, :active) {
  background-color: var(--clr-primary-dark);
  color: var(--clr-neutral-light);
}

.arrow-icon {
  transform: translateX(0);
  transition: stroke 300ms ease-out,
    transform 300ms cubic-bezier(0, 0.26, 0.13, 1.55);
  stroke: var(--clr-primary-dark);
}

.button:where(:hover, :focus, :active) .arrow-icon {
  stroke: var(--clr-neutral-light);
  transform: translateX(5px);
}
