.button {
  display: inline-flex;
  align-items: center;
  gap: var(--space-s);
  inline-size: fit-content;
  padding-block: var(--space-xs);
  padding-inline: var(--space-m);
  border: 1px solid currentColor;
  border-radius: 999px;
  margin-block-start: var(--space-l);
  background-color: var(--clr-neutral-light);
  transition: color 250ms ease-out, background-color 250ms ease-out;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  color: var(--clr-primary-dark);
  cursor: pointer;

  &:where(:hover, :focus, :active) {
    background-color: var(--clr-primary-dark);
    color: var(--clr-neutral-light);
  }

  &:where(:focus-visible) {
    opacity: 1 !important;
    outline: 2px dashed var(--clr-primary-dark);
    outline-offset: 3px;
  }

  .arrow-icon {
    transform: translateX(0);
    transition: stroke 250ms ease-out,
      transform 500ms cubic-bezier(0, 0.26, 0.13, 1.55);
    stroke: var(--clr-primary-dark);
  }

  &:where(:hover, :focus, :active) .arrow-icon {
    stroke: var(--clr-neutral-light);
    transform: translateX(0.5em);
  }
}
