.hero-image {
  overflow: hidden;

  img {
    inline-size: 83.75rem;
    max-block-size: 37.5rem;
    object-fit: cover;
    object-position: center;
    margin-inline-start: auto;
  }

  @media (min-width: 640px) {
    img {
      margin-inline-start: 0;
    }
  }
}
