@use "../abstracts" as *;

.layout {
  --min: var(--space-s-3xl);
  --container-max: 1440px;

  display: grid;
  grid-template-columns:
    minmax(var(--min, 1rem), 1fr)
    minmax(calc(375px - var(--space-s-3xl)), calc(1440px - var(--space-s-3xl)))
    minmax(var(--min, 1rem), 1fr);

  > * {
    grid-column: 2;
  }
}
